<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ProjectsDbConnectionString"
		connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=ProjectsDB;Integrated Security=true"
		providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>